/* hdpic.css Date:2017-04-17 09:42:56 */
.hdpic{background:url(i/bj1.png) repeat-x 0 0;height:400px}.hdpic img{width:1048px;height:400px;margin:0 auto}.hdpic p{left:0;top:316px;background:url(i/bj2.png) repeat-x 0 0;height:104px;width:100%}
