/* jianjie.css Date:2017-04-17 09:42:56 */
.jianjie{margin:0 auto;width:813px;margin-top:20px;height:160px}.jianjie p{padding-top:35px;font-size:14px;line-height:25px;text-indent:2em}.jianjie span{background:url(i/jianjie.png?__sprite1492393373065) no-repeat 0 0;background-position:0 0;width:338px;height:136px;top:-50px;right:-110px}
